---

---

<a id="logo" href="/" transition:persist="logo">
  
  <svg version="1.1" id="logo-74" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
  viewBox="0 0 70 30.375"
  width="125px"
  fill="currentColor" xml:space="preserve">
<g>
	<path class="letter letter-e" stroke="currentColor" d="M1.521,19.184c0-5.724,4.067-9.72,10.691-9.72c4.499,0,7.522,1.8,7.522,4.5c0,1.728-0.972,2.736-2.483,2.736
		c-1.584,0-2.376-1.116-4.5-1.116c-2.268,0-3.852,1.403-3.852,3.563c0,2.123,1.584,3.6,3.924,3.6c2.088,0,2.88-1.152,4.464-1.152
		c1.548,0,2.411,0.973,2.411,2.557c0,2.916-3.096,4.715-7.559,4.715C5.518,28.865,1.521,24.834,1.521,19.184z"/>
	<path class="letter letter-v" stroke="currentColor" d="M21.897,24.365V13.963c0-2.735,1.296-4.248,3.6-4.248c2.088,0,3.348,1.226,3.6,3.42c0.863-2.376,2.376-3.454,4.319-3.454
		c2.195,0,3.492,1.33,3.492,3.526c0,1.765-0.828,3.312-2.736,3.312c-0.756,0-1.296-0.18-2.052-0.18c-1.764,0-2.987,1.512-2.987,4.57
		v3.455c0,2.736-1.26,4.248-3.6,4.248C23.193,28.613,21.897,27.102,21.897,24.365z"/>
	<path class="letter letter-a" stroke="currentColor" d="M38.637,5c0-2.016,1.584-3.491,3.924-3.491c2.303,0,3.888,1.476,3.888,3.491c0,2.052-1.585,3.6-3.888,3.6
		C40.221,8.601,38.637,7.052,38.637,5z M38.926,24.365V13.963c0-2.735,1.26-4.248,3.598-4.248c2.34,0,3.638,1.513,3.638,4.248
		v10.402c0,2.736-1.261,4.248-3.638,4.248C40.186,28.613,38.926,27.102,38.926,24.365z"/>
	<path class="letter letter-a" stroke="currentColor" d="M53.324,24.582l-3.635-8.783c-0.469-1.116-0.687-2.051-0.687-2.879c0-2.16,1.513-3.204,3.42-3.204
		c1.802,0,3.062,1.152,3.815,3.456l2.447,7.379l2.556-7.452c0.756-2.268,2.088-3.384,3.889-3.384c1.871,0,3.349,1.08,3.349,3.168
		c0,0.792-0.217,1.728-0.685,2.916l-3.637,8.783c-1.152,2.664-2.808,3.996-5.185,3.996h-0.467
		C56.168,28.578,54.477,27.246,53.324,24.582z"/>
</g>
</svg>
  <span class="visuallyhidden">Centro di Ricerca Interdisciplinare sulla Voce (CRIV)</span>
</a>

<style lang="scss">
  #logo {
    width: 80px;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animating="true"] {
      .letter {
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
        animation-name: stroke;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .letter-e {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(1, 0, 0.39, 1);
      }

      .letter-v {
        animation-duration: 0.2s;
        animation-delay: 0.6s;
        animation-timing-function: cubic-bezier(0.75, 0, 0, 1);
      }

      .letter-a {
        animation-duration: 0.4s;
        animation-delay: 0.85s;
        animation-timing-function: cubic-bezier(0, -0.01, 0.34, 0.9);
      }
    }
  }

  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>


<script>
  function handleAnimation() {
    // Set animating status to let SVG animations run to completion
    // Instead of being cut off when the user hovers away
    const logoElem = document.getElementById("logo");
    logoElem?.addEventListener("click", () => {
      if (logoElem.dataset.animating === "true") return;

      logoElem.dataset.animating = "true";

      setTimeout(() => {
        logoElem.dataset.animating = "false";
      }, 1300);
    });
  }

  handleAnimation();

  document.addEventListener("astro:after-swap", () => handleAnimation());
</script>


