---
import Center from "../Center.astro";
import { SubscribeForm } from "../Subscribe/SubscribeForm";
---

<footer>
  <Center>
    <div class="content">
      <div class="links">
        <a href="/people" data-fathom="footer-link">People</a>
        <a href="/sound-system" data-fathom="footer-link">Sound System</a>
        <a href="/colophon" data-fathom="footer-link">Colophon</a>
      </div>
      <div class="links">
        <a href="/contact" data-fathom="footer-link">Contact</a>
        <a
        href="https://instagram.com/"
        target="_blank"
        data-fathom="footer-link">Instagram</a
      >
      <a
          href="https://linkedin.com/"
          target="_blank"
          data-fathom="footer-link">LinkedIn</a
        >
        <a
          href="https://www.are.na/"
          target="_blank"
          data-fathom="footer-link">Are.na</a
        >
       
        
        
      </div>
      
      <div class="subscribe">
        <SubscribeForm client:visible />
      </div>
    </div>
  </Center>
</footer>

<style lang="scss">
  footer {
    font-size: var(--step--1);
    padding-block: var(--space-2xl);
    width: 100%;
    border-top: 1px solid var(--gray-6);
  }

  .content {
    display: grid;
    grid-template: "links1 links2 form" 1fr "banner banner form" auto / 0.5fr 0.5fr 2fr;
    gap: var(--space-m) var(--space-xl);

    @media (width < 650px) {
      grid-template: "form form" "links1 links2" "banner banner" / 1fr 1fr;
      gap: var(--space-xl);
    }
  }

  .links {
    display: flex;
    flex-flow: column wrap;
    gap: var(--space-2xs);

    a {
      display: inline-block;
    }

    &:first-child {
      grid-area: links1;
    }

    &:last-child {
      grid-area: links2;
    }
  }

  .copyright {
    color: var(--gray-11);
  }

  

  .subscribe {
    grid-area: form;
  }
</style>


